* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
    margin:0;
    min-width: 320px;
    font-family: 'Lato', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    height: 100vh;
}

.app{
    background-color: #F6F7F8;
    height: 100vh;
}