.history-page{
    display: flex;
    /* grid-template-rows: 10% 10% 80%; */
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.sidebar{
    position: absolute; /* Positions over right component */
    left: 0;
    top: 20%;
    height: 100%;
    background-color: rgb(255, 255, 255);

    
}
.sidebar-item{
    background-color: white;
    border-radius: 10px;
}

  